In [22]:
import pandas as pd
import plotly.express as px

from euler_14 import collatz_rec

df = pd.DataFrame()

sequences = []

for i in range(1,1_000_000):
    current_sequence = collatz_rec(i)
    # sequences.append(current_sequence)
    df.at[i,"len"] = len(current_sequence)
    # print(current_sequence[::-1])
    
fig = px.line(df)
# fig.show()
    # ax = df.plot()
fig

KeyboardInterrupt:

In [25]:
# df["even"] = df.reset_index()["index"].apply(lambda x: "even" if x%2==0 else "odd")
df = df.reset_index()
df["even"] = df["index"].apply(lambda x: "even" if x%2==0 else "odd")
df

         index    0  even
0            1    1   odd
1            2    2  even
2            3    8   odd
3            4    3  even
4            5    6   odd
...        ...  ...   ...
999994  999995  259   odd
999995  999996  114  even
999996  999997  114   odd
999997  999998  259  even
999998  999999  259   odd

[999999 rows x 3 columns]

In [ ]:
px.line(df, x="index", y="0",color="even")

In [1]:
import pandas as pd
df = pd.read_csv("collatz_sequence_length.csv", index_col=0)

In [8]:
# df.max()
df.sort_values(by="0")

          0
1         1
2         2
4         3
8         4
16        5
...     ...
927003  476
704623  504
939497  507
626331  509
837799  525

[999999 rows x 1 columns]